/* ========================== Component Name ========================== */
$component: features-69;
$is: [is=fir-$component];
/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */
$(is){
}

.$(component) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  max-width: 735px;
  margin: 0 auto;
  padding: 25px 0;

  h1 {
    margin-bottom: 25px;
  }

  p {
    max-width: 658px;
    margin: 0 auto;
  }

  .btn {
    width: auto;
  }

  .btn--full {
    width: auto;
    margin-top: 50px;
  }

  .btn--secondary {
    margin-top: 5px;
  }

  img {
    margin-top: 50px;
  }
  /* ========================== Modifiers ========================== */

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
  &--center {
    align-items: center;
    text-align: center;
  }

  &--right {
    align-items: flex-end;
    text-align: right;
  }

  &.fir--dark {
    h2 {
      color: var(--blue);
    }
  }

  &.fir--light {
    h2 {
      color: var(--teal);
    }
  }
}

/* ========================== Breakpoints ========================== */

/* ================ Query: Small */
$(is).SM .$(component){
}

/* ================ Query: Medium */
$(is).MD .$(component){
  padding: 50px 0;

  img {
    margin-top: 80px;
  }
}

/* ================ Query: Large */
$(is).LG .$(component){
  padding: 200px 0 100px;
}

/* ================ Query: Xtra Large */
$(is).XL .$(component){
}

/* ================ Query: Xtra Xtra Large */
$(is).XXL .$(component){
}
